.myButton:hover {
  background-color: #5cbf2a;
}
.myButton:active {
  position: relative;
  top: 1px;
}

.myButton2:hover {
  background-color: #5cbf2a;
}
.myButton2:active {
  position: relative;
  top: 1px;
}

.myButton3:hover {
  background-color: #5cbf2a;
}
.myButton3:active {
  position: relative;
  top: 1px;
}

.myButton4:hover {
  background-color: #5cbf2a;
}
.myButton4:active {
  position: relative;
  top: 1px;
}

.myButton5:hover {
  background-color: #5cbf2a;
}
.myButton5:active {
  position: relative;
  top: 1px;
}

.myButton6:hover {
  background-color: #5cbf2a;
}
.myButton6:active {
  position: relative;
  top: 1px;
}

.myButton7:hover {
  background-color: #5cbf2a;
}
.myButton7:active {
  position: relative;
  top: 1px;
}

.myButton8:hover {
  background-color: #5cbf2a;
}
.myButton8:active {
  position: relative;
  top: 1px;
}

.myButton9:hover {
  background-color: #5cbf2a;
}
.myButton9:active {
  position: relative;
  top: 1px;
}

.myButton10:hover {
  background-color: #5cbf2a;
}
.myButton10:active {
  position: relative;
  top: 1px;
}

.myButton11:hover {
  background-color: #5cbf2a;
}
.myButton11:active {
  position: relative;
  top: 1px;
}

.myButton12:hover {
  background-color: #5cbf2a;
}
.myButton12:active {
  position: relative;
  top: 1px;
}

.myButton13:hover {
  background-color: #5cbf2a;
}
.myButton13:active {
  position: relative;
  top: 1px;
}

.myButton14:hover {
  background-color: #5cbf2a;
}
.myButton14:active {
  position: relative;
  top: 1px;
}

.myButton15:hover {
  background-color: #5cbf2a;
}
.myButton15:active {
  position: relative;
  top: 1px;
}

.myButton16:hover {
  background-color: #5cbf2a;
}
.myButton16:active {
  position: relative;
  top: 1px;
}

.myButton17:hover {
  background-color: #5cbf2a;
}
.myButton17:active {
  position: relative;
  top: 1px;
}

.myButton18:hover {
  background-color: #5cbf2a;
}
.myButton18:active {
  position: relative;
  top: 1px;
}

.myButton19:hover {
  background-color: #5cbf2a;
}
.myButton19:active {
  position: relative;
  top: 1px;
}

.myButton20:hover {
  background-color: #5cbf2a;
}
.myButton20:active {
  position: relative;
  top: 1px;
}

.myButton21:hover {
  background-color: #5cbf2a;
}
.myButton21:active {
  position: relative;
  top: 1px;
}

.myButton22:hover {
  background-color: #5cbf2a;
}
.myButton22:active {
  position: relative;
  top: 1px;
}

.myButton23:hover {
  background-color: #5cbf2a;
}
.myButton23:active {
  position: relative;
  top: 1px;
}

.myButton24:hover {
  background-color: #5cbf2a;
}
.myButton24:active {
  position: relative;
  top: 1px;
}

.myButton25:hover {
  background-color: #5cbf2a;
}
.myButton25:active {
  position: relative;
  top: 1px;
}

.myButton26:hover {
  background-color: #5cbf2a;
}
.myButton26:active {
  position: relative;
  top: 1px;
}

.myButton27:hover {
  background-color: #5cbf2a;
}
.myButton27:active {
  position: relative;
  top: 1px;
}

.myButton28:hover {
  background-color: #5cbf2a;
}
.myButton28:active {
  position: relative;
  top: 1px;
}

.myButton29:hover {
  background-color: #5cbf2a;
}
.myButton29:active {
  position: relative;
  top: 1px;
}

.myButton30:hover {
  background-color: #5cbf2a;
}
.myButton30:active {
  position: relative;
  top: 1px;
}

.myButton31:hover {
  background-color: #5cbf2a;
}
.myButton31:active {
  position: relative;
  top: 1px;
}

.myButton32:hover {
  background-color: #5cbf2a;
}
.myButton32:active {
  position: relative;
  top: 1px;
}

.myButton33:hover {
  background-color: #5cbf2a;
}
.myButton33:active {
  position: relative;
  top: 1px;
}

.myButton34:hover {
  background-color: #5cbf2a;
}
.myButton34:active {
  position: relative;
  top: 1px;
}

.myButton35:hover {
  background-color: #5cbf2a;
}
.myButton35:active {
  position: relative;
  top: 1px;
}

.myButton36:hover {
  background-color: #5cbf2a;
}
.myButton36:active {
  position: relative;
  top: 1px;
}

.myButton37:hover {
  background-color: #5cbf2a;
}
.myButton37:active {
  position: relative;
  top: 1px;
}

.myButton38:hover {
  background-color: #5cbf2a;
}
.myButton38:active {
  position: relative;
  top: 1px;
}

.myButton39:hover {
  background-color: #5cbf2a;
}
.myButton39:active {
  position: relative;
  top: 1px;
}

.myButton40:hover {
  background-color: #5cbf2a;
}
.myButton40:active {
  position: relative;
  top: 1px;
}

.myButton41:hover {
  background-color: #5cbf2a;
}
.myButton41:active {
  position: relative;
  top: 1px;
}

.myButton42:hover {
  background-color: #5cbf2a;
}
.myButton42:active {
  position: relative;
  top: 1px;
}

.myButton43:hover {
  background-color: #5cbf2a;
}
.myButton43:active {
  position: relative;
  top: 1px;
}

.myButton44:hover {
  background-color: #5cbf2a;
}
.myButton44:active {
  position: relative;
  top: 1px;
}

.myButton45:hover {
  background-color: #5cbf2a;
}
.myButton45:active {
  position: relative;
  top: 1px;
}
